h1 {
  font-family: "Metal Mania", cursive;
  text-align: center;
  font-size: 3rem;
  margin: 0 auto;
}

#welcome {
  font-family: "New Rocker", cursive;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
}

#screen {
  display: grid;
  height: 300px;
  width: 600px;
  grid-template-rows: 300px;
  grid-template-columns: 300px 300px;
  margin: 10px auto;
  border: solid black 5px;
  border-radius: 5px;
}

#practice-mode {
  grid-area: 1/1/2/2;
  z-index: 1;
  background-color: white;
}

#challenge-mode {
  grid-area: 1/2/2/3;
  z-index: 1;
  background-color: black;
  color: white;
}

#mode-choosing-inactive {
  grid-area: 1/1/1/1;
  z-index: -1;
}

.overlay-choose-mode-active {
  font-family: "New Rocker", cursive;
  text-align: center;
  font-size: 1.2em;
  padding: 25% 0;
}

.overlay-choose-mode-active:hover {
  cursor: pointer;
}

span {
  font-family: "Metal Mania", cursive;
  font-size: 2em;
}

#input-area {
  text-align: center;
  margin: 20px;
}

#text-input-hidden {
  font-size: 0px;
  border-width: 0px;
}

#submit-button-hidden {
  font-size: 0px;
  border-width: 0px;
  padding: 0;
}

#text-input {
  padding: 1%;
  font-size: 1rem;
  border: solid black 3px;
  border-radius: 5px;
  font-family: "New Rocker", cursive;
}

#submit-button {
  padding: 1%;
  font-size: 1rem;
  border: solid black 3px;
  border-radius: 5px;
  font-family: "New Rocker", cursive;
}

#submit-button:hover {
  cursor: pointer;
}

#buttons-area {
  text-align: center;
}

.material-symbols-rounded-hidden {
  font-size: 0px;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: 3rem;
}

.level-text-hidden {
  font-size: 0px;
}

.level-text {
  font-family: "New Rocker", cursive;
  text-align: center;
}

.game-area {
  grid-area: 1/1/2/3;
  background-color: white;
}

.interactive-area {
  display: grid;
  height: 180px;
  width: 500px;
  grid-template-columns: 40px 440px 20px;
  margin: 60px auto;
}

.mute-or-open {
  display: grid;
  grid-template-rows: repeat(6, 30px);
}

.guitar-area {
  display: grid;
  grid-template-rows: repeat(6, 30px);
  background-image: url("wood.jpeg");
}

.string {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 80px;
}

#E-string:before {
  content: "";
  width: 381px;
  height: 10px;
  background: linear-gradient(#eee, #999);
  z-index: 2;
  position: absolute;
  margin-top: 10px;
}

#guitar-head-E:before {
  content: "";
  width: 60.5px;
  height: 10px;
  background: linear-gradient(#eee, #999);
  z-index: 3;
  position: absolute;
  margin-top: 10px;
  transform: rotate(-6deg) translateY(-3px);
}

#A-string:before {
  content: "";
  width: 381px;
  height: 9px;
  background: linear-gradient(#eee, #999);
  z-index: 2;
  position: absolute;
  margin-top: 10.5px;
}

#guitar-head-A:before {
  content: "";
  width: 60.5px;
  height: 9px;
  background: linear-gradient(#eee, #999);
  z-index: 3;
  position: absolute;
  margin-top: 10.5px;
  transform: rotate(-6deg) translateY(-3px);
}

#D-string:before {
  content: "";
  width: 381px;
  height: 8px;
  background: linear-gradient(#eee, #999);
  z-index: 2;
  position: absolute;
  margin-top: 11px;
}

#guitar-head-D:before {
  content: "";
  width: 60.5px;
  height: 8px;
  background: linear-gradient(#eee, #999);
  z-index: 3;
  position: absolute;
  margin-top: 11px;
  transform: rotate(-6deg) translateY(-3px);
}

#G-string:before {
  content: "";
  width: 381px;
  height: 7px;
  background: linear-gradient(#eee, #999);
  z-index: 2;
  position: absolute;
  margin-top: 11.5px;
}

#guitar-head-G:before {
  content: "";
  width: 60.5px;
  height: 7px;
  background: linear-gradient(#eee, #999);
  z-index: 3;
  position: absolute;
  margin-top: 11.5px;
  transform: rotate(6deg) translateY(3px);
}

#B-string:before {
  content: "";
  width: 381px;
  height: 5px;
  background: linear-gradient(#eee, #999);
  z-index: 2;
  position: absolute;
  margin-top: 12.5px;
}

#guitar-head-B:before {
  content: "";
  width: 60.5px;
  height: 5px;
  background: linear-gradient(#eee, #999);
  z-index: 3;
  position: absolute;
  margin-top: 12.5px;
  transform: rotate(6deg) translateY(3px);
}

#E2-string:before {
  content: "";
  width: 381px;
  height: 4px;
  background: linear-gradient(#eee, #999);
  z-index: 2;
  position: absolute;
  margin-top: 13px;
}

#guitar-head-E2:before {
  content: "";
  width: 60.5px;
  height: 4px;
  background: linear-gradient(#eee, #999);
  z-index: 3;
  position: absolute;
  margin-top: 13px;
  transform: rotate(6deg) translateY(3px);
}

.string-name {
  display: grid;
  grid-template-rows: repeat(6, 30px);
  font-family: "Metal Mania", cursive;
  text-align: center;
}

.fret {
  border-left: 10px solid black;
  border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
}

.guitar-head {
  border-left: 20px solid;
  border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
}

#D3 {
  display: grid;
  grid-template-rows: repeat(3, 10px);
}

#D5 {
  display: grid;
  grid-template-rows: repeat(3, 10px);
}

.Drow3 {
  display: grid;
  grid-template-columns: 15px 20px 15px 10px;
}

.fret-mark {
  border: 10px solid rgba(27, 16, 16, 0.542);
  border-radius: 100%;
}
